@model List<MyPortfolioEce.DAL.Entities.Contact>


<section id="contact" class="s-contact target-section">

    <div class="overlay"></div>
    @foreach (var item in Model)
    {

        <div class="row narrow section-intro">
            <div class="col-full">
                <h3>Contact</h3>
                <h1>Reach Me</h1>

                <p class="lead"></p>
            </div>
        </div>

        <div class="row contact__main">
            <div class="col-eight tab-full contact__form">
                <form id="ajaxContactForm" method="post">
                    <fieldset>
                        <div class="form-field">
                            <input name="NameSurname" type="text" placeholder="Name" required class="full-width" />
                        </div>
                        <div class="form-field">
                            <input name="Email" type="email" placeholder="Email" required class="full-width" />
                        </div>
                        <div class="form-field">
                            <input name="Subject" type="text" placeholder="Subject" class="full-width" />
                        </div>
                        <div class="form-field">
                            <textarea name="MessageDetail" placeholder="Your message" rows="10" cols="50" required class="full-width"></textarea>
                        </div>
                        <div class="form-field">
                            <button type="submit" class="full-width btn--primary">Send</button>
                        </div>
                    </fieldset>
                </form>

                <!-- AJAX result area -->
                <div id="messageResult" style="margin-top: 1rem; color: green;"></div>


                <!-- contact-warning -->
                <div class="message-warning">
                    Something went wrong. Please try again.
                </div>

                <!-- contact-success -->
                <div class="message-success">
                    Your message was sent, thank you!<br>
                </div>

            </div>
            <div class="col-four tab-full contact__infos">
                <h4 class="h06">Phone</h4>
                <p>
                    @item.Phone1<br>
                </p>

                <h4 class="h06">Email</h4>
                <p>
                    @item.Email1<br>
                </p>

                <h4 class="h06">Address</h4>
                <p>
                    @Html.Raw(@item.Adress)<br>
                </p>


            </div>

        </div>
    }

</section> <!-- end s-contact -->
