@model Experience
@using System.Web

@{
    ViewData["Title"] = "UpdateExperience";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Experiences</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Updating Experience Page</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            You can manage Experiences from the panel down below.
                        </div>

                        <form method="post">
                            <input type="hidden" asp-for="ExperienceId"/>
                            <label>Company Information</label>
                            <input type="text" asp-for="Head" class="form-control" />
                            <br />

                            <label>Position of the Work</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />

                            <label>Time Interval</label>
                            <input type="text" asp-for="Date" class="form-control" />
                            <br />

                            <label>Description</label>
                            <textarea rows="4" class="form-control" asp-for="Description">@Html.Raw(HttpUtility.HtmlEncode(Model?.Description ?? ""))</textarea>
                            <br />
                            <button class="btn btn-warning">Update Experience</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




