@model Testimonial
@using System.Web

@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/Layout/Index.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">References</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Updating Reference List</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            You can manage Testimonials from the panel down below.
                        </div>

                        <form method="post">
                            <input type="hidden" asp-for="TestimonialId" />
                            <label>Name & Surname</label>
                            <input type="text" asp-for="NameSurname" class="form-control" />
                            <br />

                            <label>Title</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />

                            <label>Description</label>
                            <textarea rows="4" class="form-control" asp-for="Description">@Html.Raw(HttpUtility.HtmlEncode(Model?.Description ?? ""))</textarea>
                            <br />

                            <label>Image Url</label>
                            <input type="text" asp-for="ImageUrl" class="form-control" />
                            <br />
                            <button class="btn btn-primary">Update References</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



